<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.1.0.min.js" type="text/javascript"></script>
</head>
<body>
   <input type="text" value = "201769113032535" id="outTradeId"/>
   <input type="text" value = "test" id="body"/>
   <input type="text" value = "this is a test" id="subject"/>
   <input type="text" value = "0.01" id="amout"/>
   <button>submit</button>
<script>
    $(function(){
        $("body").delegate("button","click",function(){
            var data1 = {"outTradeId":$("#outTradeId").val(),"body":$("#body").val(),"subject":$("#subject").val(),"amout":$("#amout").val()};
            $.ajax({
                type: "post",
                data: data1,
                url: "/submit/orders",
                success: function (data) {
                     $("body").html(data);
                },
                error: function () {

                }
            })
        })

    })
</script>
</body>
</html>